BarCodeSub/Service References/ezService/TCI_Ser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TCI_Ser" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.1.38:82/services/TCI_Ser.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.1.38:82/services/TCI_Ser.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.1.38:82/services/TCI_Ser.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITCI_Ser_GetBillInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillInfo" />
  </wsdl:message>
  <wsdl:message name="ITCI_Ser_GetBillInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ITCI_Ser_SendData_InputMessage">
    <wsdl:part name="parameters" element="tns:SendData" />
  </wsdl:message>
  <wsdl:message name="ITCI_Ser_SendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendDataResponse" />
  </wsdl:message>
  <wsdl:message name="ITCI_Ser_GetBillDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBillDocument" />
  </wsdl:message>
  <wsdl:message name="ITCI_Ser_GetBillDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBillDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ITCI_Ser">
    <wsdl:operation name="GetBillInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCI_Ser/GetBillInfo" message="tns:ITCI_Ser_GetBillInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCI_Ser/GetBillInfoResponse" message="tns:ITCI_Ser_GetBillInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCI_Ser/SendData" message="tns:ITCI_Ser_SendData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCI_Ser/SendDataResponse" message="tns:ITCI_Ser_SendData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBillDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ITCI_Ser/GetBillDocument" message="tns:ITCI_Ser_GetBillDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITCI_Ser/GetBillDocumentResponse" message="tns:ITCI_Ser_GetBillDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITCI_Ser" type="tns:ITCI_Ser">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBillInfo">
      <soap:operation soapAction="http://tempuri.org/ITCI_Ser/GetBillInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendData">
      <soap:operation soapAction="http://tempuri.org/ITCI_Ser/SendData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillDocument">
      <soap:operation soapAction="http://tempuri.org/ITCI_Ser/GetBillDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCI_Ser">
    <wsdl:port name="BasicHttpBinding_ITCI_Ser" binding="tns:BasicHttpBinding_ITCI_Ser">
      <soap:address location="http://10.1.1.38:82/services/TCI_Ser.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>